body, html {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.level-wrapper {
    margin: 0 1rem;
    line-height: 0;
    background: url("../images/floor.png");
}

.level-cell {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.cell-wall {
    background: url("../images/brickwall.png");
}

.level-cell.fade {
    position: relative;
}

.level-cell.fade::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.player {
    background: url("../images/player.png");
}

.item {
    background: url("../images/chest.png");
}

.title {
    margin-top: 2rem;
    font-size: 2.75rem;
    color: #aaa;
    font-weight: lighter;
    text-align: center;
}

.flex-holder {
    display: flex;
    justify-content: center;
}

.right-menu {
    display: flex;
    flex-direction: column;
    border: 5px solid #aaa;
    box-sizing: border-box;
    color: #fff;
    padding: 1rem;
    justify-content: flex-start;
    align-content: center;
}
