* {
  box-sizing: border-box;
}

body, html {
    margin: 0;
    position: relative;
    padding: 0;
    background-color: #000;
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.container {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 200px;
    color: #d27105;
    border: 2px solid #d27105;
    padding: 1.5rem;
    text-align: center;
    font-weight: lighter;
}

.widget {
    margin-bottom: 1rem;
}

.widget-text {
  font-size: 3rem;
}

.widget-text.small {
    font-size: 1.25rem;
}

.cell.fade {
    position: relative;
}

.cell.fade::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d27105;
    opacity: .95;
}

.item.fade {
    background: none;
}


.holder {
    width: 640px;
    height: 640px;
    margin: 0 1rem;
    line-height: 0;
    background: #000;
    position: relative;
    flex: 0 0 auto;
}

.cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 1rem;
    font-size: .5rem;
    background: #555 url("../images/brickwall.png");
}

.free {
    background: none;
}

.player {
    background: url("../images/player.png");
}

.tunnel {
    background-color: red;
}

.start {
    background: cyan none;
}

.finish {
    background: firebrick none;
}

.item {
    background: url("../images/treasure.png");
}

.lootToaster {
    opacity: 1;
    padding: .5rem;
    width: 22rem;
    height: 3rem;
    text-align: center;
    color: #d27105;
    background-color: #000;
    border: 4px solid #d27105;
    position: absolute;
    bottom: -3rem;
    left: calc(50% - 11rem);
    line-height: 1;
    transition: all 2.5s linear;
}

.lootToaster-fade {
    opacity: 0;
}

.inventory {
    position: absolute;
    width: 340px;
    left: calc(50% - 170px);
    top: 240px;
    padding: 32px 10px;
    background: #000;
    border: 4px solid #d27105;
}

.inventory-object {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 2px #d27105;
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 0;
}
